
body {
  padding-top: 100px;
  margin: 0;
  text-align: center;
  color: #40514E;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(https://wallpaperaccess.com/full/3644100.jpg);
  z-index: -1;
  opacity: 0.3;
}

h1 {
  margin-bottom: 0;
  font-family: Roboto Mono, sans-serif;
}

.top-container p {
  margin-top: 0;
  color: black;
}

.top-container {
  margin: 0px auto 0 auto;
  text-align: center;
  font-family: Sacramento, cursive;
  font-size: 3rem;
  color: #66BFBF;
}

.top-container h1 {
  margin: 0;
}

.middle-container {
  margin: 50px auto;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  color: #000D6B;
  border-width: 15px;
  font-size: 2em;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 190px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.5rem;
  padding: 20px 0;
}
